[submodule "mods/areas"]
	path = mods/areas
	url = https://github.com/ShadowNinja/areas.git
[submodule "mods/bees"]
	path = mods/bees
	url = https://github.com/VanessaE/bees.git
[submodule "mods/blox"]
	path = mods/blox
	url = https://github.com/VanessaE/blox.git
[submodule "mods/carbone_mobs"]
	path = mods/carbone_mobs
	url = https://github.com/Calinou/carbone_mobs.git
[submodule "mods/carts"]
	path = mods/carts
	url = git://github.com/PilzAdam/carts.git
[submodule "mods/caverealms"]
	path = mods/caverealms
	url = https://github.com/Zeno-/minetest-caverealms.git
[submodule "mods/coloredwood"]
	path = mods/coloredwood
	url = https://github.com/VanessaE/coloredwood.git
[submodule "mods/colormachine"]
	path = mods/colormachine
	url = https://github.com/Sokomine/colormachine.git
[submodule "mods/currency"]
	path = mods/currency
	url = https://github.com/VanessaE/currency.git
[submodule "mods/datastorage"]
	path = mods/datastorage
	url = https://github.com/minetest-technic/datastorage.git
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/Jeija/minetest-mod-digilines.git
[submodule "mods/display_blocks"]
	path = mods/display_blocks
	url = https://github.com/VanessaE/display_blocks.git
[submodule "mods/farming_plus"]
	path = mods/farming_plus
	url = https://github.com/PilzAdam/farming_plus.git
[submodule "mods/framedglass"]
	path = mods/framedglass
	url = https://github.com/minetest-technic/framedglass.git
[submodule "mods/gloopblocks"]
	path = mods/gloopblocks
	url = https://github.com/VanessaE/gloopblocks.git
[submodule "mods/ilights"]
	path = mods/ilights
	url = https://github.com/VanessaE/ilights.git
[submodule "mods/infrastructure"]
	path = mods/infrastructure
	url = https://github.com/VanessaE/infrastructure.git
[submodule "mods/inventory_sorter"]
	path = mods/inventory_sorter
	url = https://github.com/cyisfor/inventory_sorter.git
[submodule "mods/item_tweaks"]
	path = mods/item_tweaks
	url = https://github.com/minetest-technic/item_tweaks.git
[submodule "mods/jumping"]
	path = mods/jumping
	url = https://github.com/Jeija/minetest-mod-jumping.git
[submodule "mods/locks"]
	path = mods/locks
	url = https://github.com/VanessaE/locks.git
[submodule "mods/maptools"]
	path = mods/maptools
	url = https://github.com/Calinou/maptools.git
[submodule "mods/markers"]
	path = mods/markers
	url = https://github.com/Sokomine/markers.git
[submodule "mods/moreores"]
	path = mods/moreores
	url = https://github.com/VanessaE/moreores.git
[submodule "mods/moretrees"]
	path = mods/moretrees
	url = https://github.com/VanessaE/moretrees.git
[submodule "mods/nixie_tubes"]
	path = mods/nixie_tubes
	url = https://github.com/VanessaE/nixie_tubes.git
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = https://github.com/VanessaE/pipeworks.git
[submodule "mods/plantlife_modpack"]
	path = mods/plantlife_modpack
	url = https://github.com/VanessaE/plantlife_modpack.git
[submodule "mods/plasticbox"]
	path = mods/plasticbox
	url = https://github.com/cheapie/plasticbox.git
[submodule "mods/quartz"]
	path = mods/quartz
	url = https://github.com/VanessaE/quartz.git
[submodule "mods/replacer"]
	path = mods/replacer
	url = https://github.com/Sokomine/replacer.git
[submodule "mods/stained_glass"]
	path = mods/stained_glass
	url = https://github.com/andersje/stained_glass.git
[submodule "mods/steel"]
	path = mods/steel
	url = https://github.com/VanessaE/minetest-steel.git
[submodule "mods/streets"]
	path = mods/streets
	url = https://github.com/webdesigner97/streets.git
[submodule "mods/technic"]
	path = mods/technic
	url = https://github.com/minetest-technic/technic.git
[submodule "mods/tpr"]
	path = mods/tpr
	url = https://github.com/ChaosWormz/teleport-request.git
[submodule "mods/travelnet"]
	path = mods/travelnet
	url = git://github.com/Sokomine/travelnet.git
[submodule "mods/ufos"]
	path = mods/ufos
	url = https://github.com/Zeg9/minetest-ufos.git
[submodule "mods/unifieddyes"]
	path = mods/unifieddyes
	url = https://github.com/VanessaE/unifieddyes.git
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/minetest-technic/unified_inventory.git
[submodule "mods/usesdirt"]
	path = mods/usesdirt
	url = https://github.com/VanessaE/usesdirt.git
[submodule "mods/windmill"]
	path = mods/windmill
	url = https://github.com/Sokomine/windmill.git
[submodule "mods/windmill_large"]
	path = mods/windmill_large
	url = https://github.com/Sokomine/windmill_large.git
[submodule "mods/worldedit"]
	path = mods/worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "mods/xban2"]
	path = mods/xban2
	url = https://github.com/kaeza/minetest-xban2.git
[submodule "mods/cottages"]
	path = mods/cottages
	url = https://github.com/Sokomine/cottages.git
[submodule "mods/homedecor_modpack"]
	path = mods/homedecor_modpack
	url = https://github.com/VanessaE/homedecor_modpack.git
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/Calinou/moreblocks.git
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/Jeija/minetest-mod-mesecons.git
[submodule "mods/teleport_request"]
	path = mods/teleport_request
	url = https://github.com/ChaosWormz/teleport-request.git
[submodule "mods/biome_lib"]
	path = mods/biome_lib
	url = https://github.com/VanessaE/biome_lib.git
